@import './base.css';

:root {
  --primary-color: #8a4fff;
  --secondary-color: #d9e3f0;
  --hover-bg-color: #c3bce5;
  --text-color: #4b4b4b;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: var(--secondary-color);
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: background-color 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--hover-bg-color);
  }
}

.green {
  color: var(--primary-color);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}
